.action-section-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.action-section-cards-subcontainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: var(--primary-color-dark);
  margin-bottom: 0.5rem;
  text-align: center;
}

.action-section-p {
  max-width: 23rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.action-section-cards-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1030px) {
  .action-section-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}